  <div class="messages">
    <ul class="message">
      <li class="message-name"><%= message.user.name %></li>
      <li class="message-time"><%= l message.created_at %></li>
    </ul>
    <div class="message-text">
    <%= message.content %>
      </div>
       <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
    </div>

