<div class="side-header">
      <%= link_to current_user.name, edit_user_path(current_user) %> 
      <a href='#' class="title">チャットを作成する</a>
      </div>
    <div class="side-main">
      <div class="room">
        <a href='#' class="room-name">Techroom1</a>
      </div>
      <div class="room">
        <a href='#' class="room-name">Techroom2</a>
      </div>
    </div>