<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-header">
      <a href='#' class="name">Tom</a>
      <a href='#' class="title">チャットを作成する</a>
      </div>
    <div class="side-main">
      <div class="room">
        <a href='#' class=room-name>Techroom1</a>
      </div>
      <div class="room">
        <a href='#' class=room-name>Techroom2</a>
      </div>
    </div>
  </div>
  <div class=chat>
    <%= render "main_chat" %>
    <div class=chat-header></div>
    <div class=chat-main></div>
    <div class=chat-footer></div>
  </div>
</div>